.computeUsageWay {
    font-weight: bold;
    font-size:14px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 100%;
    justify-content:center;
    align-items: center;
}
