.container {
    width: 33.3vw;
    height:18vh;
    border-top: 5px solid #997b66;
    box-sizing: border-box;
    padding-left:10px;
    font-size: 14px;
    overflow: auto;
    padding-bottom:4px;
    .baseInfo {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* 自动填充列，最小宽度100px */
        gap: 16px; /* 增加元素之间的间距 */
        overflow: auto;

    }
}