.container {
    width: 100%;
    height:30vh;
    padding:20px;
    padding-left:40px;
    box-sizing: border-box;
    display: flex;
    border-top: 5px solid yellowgreen;
    /* background-color: red; */
    overflow: hidden;

  }
.containerFile {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* 自动填充列，最小宽度100px */
    gap: 10px; /* 增加元素之间的间距 */
    overflow: auto;
    .contentText {
        font-size:14px;

    }
}
