.container {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    /* border: 5px solid yellowgreen; */
}
.left {
    flex: 1;
    box-sizing: border-box;
    border-right: 5px solid #997b66;

}
.right {
    flex: 2;
    box-sizing: border-box;
}
.bottom {
    height: 30%;
    box-sizing: border-box;
}
.content {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
:global(.ant-float-btn-body ){
    background-color: #997b66 !important;

}
