.containerPerson {
    width: 33.3vw;
    height:70vh;
    box-sizing: border-box;
    padding:20px;
    background-color: rgb(171, 171, 173);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 1); /* 添加内阴影 */
    .imgStyle {
        width: calc(33.3vw - 40px);
        height: calc(70vh - 40px);
    }
}